# Creating Redshift Cluster using the AWS python SDK 
## An example of Infrastructure-as-code

In [1]:
import pandas as pd
import boto3
import json

# Load DWH Params from a file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

# Create clients for IAM, EC2, S3 and Redshift
**Note**: We are creating these resources in the the **us-east-1** region. Choose the same region in the your AWS web console to the see these resources.

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-east-1'
                  )

redshift = boto3.client('redshift',
                       region_name="us-east-1",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

# Check out the sample data sources on S3

In [4]:
sampleDbBucket =  s3.Bucket("awssampledbuswest2")
for obj in sampleDbBucket.objects.filter(Prefix="ssbgz"):
    print(obj)
# for obj in sampleDbBucket.objects.all():
#     print(obj)

s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/customer0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/dwdate.tbl.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0004_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0005_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0006_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0007_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier.tbl_0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0003_part_00.gz')

# STEP 1: IAM ROLE
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [5]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::006692115187:role/dwhRole

# STEP 2:  Redshift Cluster

- Create a [RedShift Cluster](https://console.aws.amazon.com/redshiftv2/home)
- For complete arguments to `create_cluster`, see [docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift.html#Redshift.Client.create_cluster)

In [6]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [10]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0a40083bdaf72f4d0
7,NumberOfNodes,4

<h2> 2.2 Take note of the cluster <font color='red'> endpoint and role ARN </font> </h2>

<font color='red'>DO NOT RUN THIS unless the cluster status becomes "Available". Make sure you are checking your Amazon Redshift cluster in the **us-east-1** region. </font>

In [11]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::006692115187:role/dwhRole

## STEP 3: Open an incoming  TCP port to access the cluster ednpoint

In [12]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0bc69321ba5c61bea')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

# STEP 4: Make sure you can connect to the cluster

In [13]:
%load_ext sql

In [14]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# STEP 5: Clean up your resources

<b><font color='red'>DO NOT RUN THIS UNLESS YOU ARE SURE <br/> 
    We will be using these resources in the next exercises</span></b>

In [23]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2022, 1, 7, 17, 56, 10, 256000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0beb6a119fbd4522c',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-0a40083bdaf72f4d0',
  'AvailabilityZone': 'us-east-1e',
  'PreferredMaintenanceWindow': 'wed:07:30-wed:08:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::006692115187:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '306557ae-9965-44fc-bf57-efba0bd52e65',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '306557ae-9965-44fc-bf57-efba0bd52e65',
   'content-type': 'text/xml',
   'content-length': '2622',
   'vary': 'accept-encoding',
   'date': 'Fri, 07 Jan 2022 18:19:58 GMT'},
  'RetryAttempts': 0}}

- run this block several times until the cluster really deleted

In [24]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0a40083bdaf72f4d0
7,NumberOfNodes,4

In [87]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'HTTPHeaders': {'content-length': '200',
   'content-type': 'text/xml',
   'date': 'Sat, 16 Feb 2019 07:13:50 GMT',
   'x-amzn-requestid': '694f8d91-31ba-11e9-9438-d3ce9c613ef8'},
  'HTTPStatusCode': 200,
  'RequestId': '694f8d91-31ba-11e9-9438-d3ce9c613ef8',
  'RetryAttempts': 0}}

# STEP 6: Testing

In [15]:
%%time
%%sql
SELECT *
FROM songplays
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.
CPU times: user 3.95 ms, sys: 0 ns, total: 3.95 ms
Wall time: 227 ms

[(36, datetime.datetime(2018, 11, 13, 16, 12, 50), '37', 'free', 'SOHAHVO12AB017D096', 'ARKZJ301187FB521B2', '547', 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (48, datetime.datetime(2018, 11, 10, 12, 44, 10), '66', 'free', 'SOBXWEW12AB017FB9B', 'ARYN2M61187B995BD6', '387', 'Harrisburg-Carlisle, PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (128, datetime.datetime(2018, 11, 13, 22, 39, 39), '55', 'free', 'SOWCJCS12A6310D875', 'AR0L04E1187B9AE90C', '415', 'Minneapolis-St. Paul-Bloomington, MN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (155, datetime.datetime(2018, 11, 13, 22, 23, 24), '55', 'free', 'SODUMOP12A8C136DCB', 'ARYMCJZ1187FB513DA', '415', 'Minneapolis-St. Paul-Bloomington, MN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (163, datetime.datetime(2018, 11, 13, 22, 23, 24), '55', 'free', 'SOPMCEZ12A8C136DCD', 'ARYMCJZ1187FB513DA', '415', 'Minneapolis-St. Paul-Bloomington, MN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (175, datetime.datetime(2018, 11, 13, 22, 23, 24), '55', 'free', 'SODAZBR12A6D4F6FFA', 'ARYMCJZ1187FB513DA', '415', 'Minneapolis-St. Paul-Bloomington, MN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (181, datetime.datetime(2018, 11, 26, 0, 52, 5), '33', 'free', 'SOMEFTJ12A6D4F8CAC', 'AR7S2271187FB38B1F', '827', 'Eugene, OR', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (183, datetime.datetime(2018, 11, 13, 22, 23, 24), '55', 'free', 'SOZCITS12A8C13C65D', 'ARYMCJZ1187FB513DA', '415', 'Minneapolis-St. Paul-Bloomington, MN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (185, datetime.datetime(2018, 11, 10, 10, 25, 5), '37', 'free', 'SOSJDQJ12A8C13D4A9', 'ARAGT961187FB4193B', '304', 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (191, datetime.datetime(2018, 11, 13, 22, 39, 39), '55', 'free', 'SOXQYSC12A6310E908', 'AR0L04E1187B9AE90C', '415', 'Minneapolis-St. Paul-Bloomington, MN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [16]:
%%time
%%sql
SELECT *
FROM songs
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.
CPU times: user 2.19 ms, sys: 323 µs, total: 2.52 ms
Wall time: 180 ms

[('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180')),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263')),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, Decimal('385')),
 ('SOAAVQK12A6D4F76E0', 'Ik Laat Je Vrij', 'ARCULXA1269FCD4F8D', 1979, Decimal('239')),
 ('SOABHSF12AB0182977', 'Perdicion', 'ARFD5AT1187FB40779', 0, Decimal('281')),
 ('SOABIXP12A8C135F75', 'Witness', 'AR15DJQ1187FB5910C', 0, Decimal('218')),
 ('SOABLNP12A8C135DC9', 'Life / Death', 'ARVTZN01187B9905B9', 2008, Decimal('276')),
 ('SOABLOU12AB0182F90', 'Make It This Time (feat. Biga)', 'ARZRF6K1187B9A9AEA', 2009, Decimal('320')),
 ('SOABSTO12AB0180A29', 'Duke of Earl', 'ARL53RS1187B9B19AD', 1994, Decimal('224')),
 ('SOABUER12A6D4F800A', 'All I Can Do (Remix)', 'ARVB14J1187B992457', 2002, Decimal('226'))]

In [17]:
%%time
%%sql
SELECT *
FROM users
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.
CPU times: user 2.67 ms, sys: 0 ns, total: 2.67 ms
Wall time: 184 ms

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (7, 'Adelyn', 'Jordan', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (11, 'Christian', 'Porter', 'F', 'free')]

In [18]:
%%time
%%sql
SELECT *
FROM users
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.
CPU times: user 3.01 ms, sys: 0 ns, total: 3.01 ms
Wall time: 65.5 ms

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (7, 'Adelyn', 'Jordan', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (9, 'Wyatt', 'Scott', 'M', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (11, 'Christian', 'Porter', 'F', 'free')]

In [19]:
%%time
%%sql
SELECT *
FROM artists
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.
CPU times: user 0 ns, sys: 2.71 ms, total: 2.71 ms
Wall time: 191 ms

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100')),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', Decimal('40'), Decimal('-73')),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None),
 ('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR00TGQ1187B994F29', 'Paula Toller', '', None, None),
 ('AR00Y9I1187B999412', 'Akercocke', '', None, None),
 ('AR00YYQ1187FB504DC', 'God Is My Co-Pilot', 'New York, NY', Decimal('40'), Decimal('-74')),
 ('AR016P51187B98E398', 'Indian Ropeman', '', None, None)]

In [20]:
%%time
%%sql
SELECT *
FROM time
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.
CPU times: user 0 ns, sys: 2.95 ms, total: 2.95 ms
Wall time: 184 ms

[(datetime.datetime(2018, 11, 1, 21, 1, 46), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 5, 52), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 11, 13), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 17, 33), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 24, 53), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 28, 54), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 42), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 52, 5), 21, 1, 44, 11, 2018, 44),
 (datetime.datetime(2018, 11, 1, 21, 55, 25), 21, 1, 44, 11, 2018, 44)]

In [21]:
%%time
%%sql
SELECT *
FROM staging_events
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.
CPU times: user 3.74 ms, sys: 0 ns, total: 3.74 ms
Wall time: 5.29 s

[(86, 'Black Eyed Peas', 'Logged In', 'Sylvie', 'F', '0', 'Cruz', '214.93505999999999', 'free', 'Washington-Arlington-Alexandria, DC-VA-MD-WV', 'PUT', 'NextSong', '1540266185796', 9, 'Pump It', 200, 1541108520796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 10),
 (1141, None, 'Logged In', 'Martin', 'M', '0', 'Johnson', None, 'free', 'Minneapolis-St. Paul-Bloomington, MN-WI', 'GET', 'Home', '1541081807796', 54, None, 200, 1541350228796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 55),
 (471, 'No Doubt', 'Logged In', 'Devin', 'M', '0', 'Larson', '269.73995000000002', 'free', 'Tampa-St. Petersburg-Clearwater, FL', 'PUT', 'NextSong', '1541045604796', 59, 'Sometimes', 200, 1541409629796, 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', 60),
 (367, 'Powderfinger', 'Logged In', 'Harper', 'M', '0', 'Barrett', '276.68853000000001', 'paid', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540685364796', 129, 'My Happiness', 200, 1541407366796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 42),
 (375, 'Radiohead', 'Logged In', 'Harper', 'M', '1', 'Barrett', '247.06567000000001', 'paid', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540685364796', 129, 'Black Star', 200, 1541407642796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 42),
 (391, 'Three Days Grace', 'Logged In', 'Harper', 'M', '2', 'Barrett', '186.90566999999999', 'paid', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540685364796', 129, 'Just Like You', 200, 1541407889796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 42),
 (399, 'Monty Python', 'Logged In', 'Harper', 'M', '3', 'Barrett', '15.855869999999999', 'paid', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540685364796', 129, 'Comfy Chair (The Final Rip Off Remix)', 200, 1541408075796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 42),
 (407, 'Rise Against', 'Logged In', 'Harper', 'M', '4', 'Barrett', '241.55383', 'paid', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540685364796', 129, 'Long Forgotten Sons', 200, 1541408090796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 42),
 (415, 'Jimmy Eat World', 'Logged In', 'Harper', 'M', '5', 'Barrett', '166.00771', 'paid', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540685364796', 129, 'The Middle', 200, 1541408331796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 42),
 (423, 'Rise Against', 'Logged In', 'Harper', 'M', '6', 'Barrett', '165.14567', 'paid', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540685364796', 129, 'Under The Knife', 200, 1541408497796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 42)]

In [22]:
%%time
%%sql
SELECT *
FROM staging_songs
LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.cl2qwsv8rq2g.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.
CPU times: user 2.66 ms, sys: 0 ns, total: 2.66 ms
Wall time: 183 ms

[(1, 'AR00B1I1187FB433EB', None, None, 'Stockholm, Sweden', 'Eagle-Eye Cherry', 'SOXSDSB12A6701E01F', "If You Don't Know By Now", Decimal('304'), 2003),
 (1, 'AR00B1I1187FB433EB', None, None, 'Stockholm, Sweden', 'Eagle-Eye Cherry', 'SONHPYP12A8C1417AE', 'One Good Reason', Decimal('207'), 2000),
 (1, 'AR00LNI1187FB444A5', None, None, '', 'Bruce BecVar', 'SOCCSCK12A58A7B859', 'Razamataz', Decimal('226'), 0),
 (1, 'AR016P51187B98E398', None, None, '', 'Indian Ropeman', 'SOWMDMD12A6701C5F8', 'Dominant Tonic', Decimal('362'), 1999),
 (1, 'AR035N21187FB3938E', '34.232939999999999', '-102.4102', 'Earth', 'BT', 'SOPTEDP12A8C139E74', 'Knowledge Of Self (Evol Intent Remix)', Decimal('253'), 2004),
 (1, 'AR035N21187FB3938E', '34.232939999999999', '-102.4102', 'Earth', 'BT', 'SOAUXQN12AB018D2F6', 'Mercury & Solace', Decimal('506'), 2000),
 (1, 'AR035N21187FB3938E', '34.232939999999999', '-102.4102', 'Earth', 'BT', 'SOFQHNI12AB018345A', 'Ver de Feliz', Decimal('311'), 2006),
 (1, 'AR035N21187FB3938E', '34.232939999999999', '-102.4102', 'Earth', 'BT', 'SOOTFBM12A6D4FCD69', 'Korean Waterhole', Decimal('94'), 2005),
 (1, 'AR03BDP1187FB5B324', '34.053489999999996', '-118.24532000000001', 'Kentwood, LA; Los Angeles, CA', 'Britney Spears', 'SOQIDEF12A8C139B23', "Don't Go Knockin' On My Door", Decimal('223'), 2000),
 (1, 'AR03BDP1187FB5B324', '34.053489999999996', '-118.24532000000001', 'Kentwood, LA; Los Angeles, CA', 'Britney Spears feat. Pharrell Williams', 'SOLQLGL12A8C138380', 'Boys', Decimal('225'), 2001)]